<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/stylesheet.css">

<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>

<header>
    <div class="top-nav">
        <a href="/home">Kalkulationsværktøj</a>
        <div class="topnav-right">
            <a href="/home"> Mine Projekter </a>
            <a href="/register-login">Log ud</a>
        </div>
    </div>
</header>
<br>
<br>
<br>
<table>
    <tr>
        <td>
    <form name="create" th:action="@{/{id}/create-task(id=${projectId})}" method="POST">
        Opgavenavn:<br>
            <input type="text" name="task-name">
         <br>
        Tidsestimat:<br>
            <input type="number" name="task-time">
        <br>
        Pris:<br>
        <input type="number" name="task-price">
        <br>
            <input type="submit" value="Opret opgave" class="btn btn-create">
        <br>
    </form>
        </td>
    </tr>
</table>

    <br>
    <br>
    <br>
<div th:replace="footer.html" class="">...</div>
</body>
</html>