<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="stylesheet.css"><link rel="stylesheet" href="stylesheet.css">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>

<form name="create" th:action="@{/{id}/details(id=${projectId})}" method="GET">
<ul th:each="liste : ${details}">
    <li th:text="${liste}"></li>

</ul>
    <p th:text="${calculate}"></p>
</form>

<tr>
<td>
<a th:href="@{create-task(id=${projectId})}" class="btn btn-details">Tilføj opgave</a>
</td>
</tr>
</body>
</html>