<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/stylesheet.css">

<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<header>
    <div class="top-nav">
        <a href="/home">Kalkulationsværktøj</a>
        <div class="topnav-right">
            <a href="/home"> Mine Projekter </a>
            <a href="/register-login">Log ud</a>
        </div>
    </div>
</header>
<br>
<br>
<br>

<table>
    <thead>
    <tr>
        <th>Dine opgaver:</th>
        <th>Tidestimater:</th>
        <th>Pris:</th>

    </tr>
    </thead>

        <td>
            <form name="create" th:action="@{/{id}/details(id=${projectId})}" method="GET">
                <tr th:each="liste : ${details}">
                    <td th:text="${liste.getName()}"></td>
                <th  th:text="${liste.getTime()}"> </th>
                <th  th:text="${liste.getPrice()}"> </th>
                </tr>


                <thead>
                <tr>
                    <th>Samlede omkostninger:</th>
                    <th th:text="|${calculatetime}  timer|" ></th>
                    <th th:text="|${calculateprice} kr-,|"> </th>

                </tr>

                </thead>
            </form>
</table>
<br>

<a th:href="@{create-task(id=${projectId})}" class="btn btn-create specific">Tilføj ny opgave</a>
<div th:replace="footer.html">...</div>
</body>
</html>