<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="stylesheet.css">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<br>
<br>
<br>

<body>
<table>
    <tr><td><h4>Log ind</h4></td>
        <td>
            <form name="login" action="/login-homepage" method="POST">
                Email:<br>
                <input type="text" name="email">
                <br>
                Kode:<br>
                <input type="password" name="password">
                <br>
                <input type="submit" value="Log ind" class=" btn btn-create">
            </form>
        </td>
        <td><h4> Register</h4></td>

        <td>
            <form name="register" action="/register-homepage" method="POST">
                Email:<br>
                <input type="text" name="email" placeholder="f.eks. navn@alphasolutions.com">
                <br>
                Kode:<br>
                <input type="password" name="password1" >
                <br>
                Bekræft kode:<br>
                <input type="password" name="password2" >
                <br>
                <input type="submit" value="Register" class="btn btn-create">
            </form>
        </td>
    </tr>
</table>
<div th:replace="footer.html">...</div>

</body>
</html>
