<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="stylesheet.css">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>

<table>
    <tr><td><h3>Log ind</h3></td>
        <td>
            <form name="login" action="/login-homepage" method="POST">
                Email:<br>
                <input type="text" name="email">
                <br>
                Kode:<br>
                <input type="password" name="password">
                <br>
                <input type="submit" value="Log ind" class=" btn btn-create">
            </form>
        </td>
        <td><h3> Register</h3></td>

        <td>
            <form name="register" action="/register-homepage" method="POST">
                Email:<br>
                <input type="text" name="email" placeholder="f.eks. navn@hotmail.com">
                <br>
                Kode:<br>
                <input type="password" name="password1" >
                <br>
                Bekræft kode:<br>
                <input type="password" name="password2" >
                <br>
                <input type="submit" value="Register" class="btn btn-create">
            </form>
        </td>
    </tr>
</table>
</body>
</html>
